*{
  padding: 0;
  margin: 0;
}


ul{
  list-style: none;
}

.left{
  width: 400px;
  /*宽度限定了！*/
  box-sizing: border-box;
  float: left;
}

.left .header{
  padding: 15px 15px;
  margin-top: 70px;
  font-size: 47px;
  margin-left: 13%;
}

.left .quote{
  margin-top: 12px;
  font-size: 30px;
  font-weight: 400;
}

.left .item{
  padding: 12px 15px;
  margin-left: 18%;
  font-size: 19px;
}

.left .header a{
  color: #000;
}

.left  a{
    text-decoration: none;
    color: #a0a0a0;
  }

 /*.left .item img{
     pointer-events: none;
  }*/

#wechatimg{
  cursor: pointer;
}

a:hover {color: #000; transition:.3s; text-decoration: underline;}

.left .item li:last-child a:hover{
   font-weight: bold;
}

.left .more li{
   font-size:9px;
   margin-top:12px!important;
   margin-left: 3px;
}

.select a{
  color: #000;
  text-decoration: underline;
}

.right{
 min-height: 100vh;
 width:calc( 100% - 400px );
 float: left;
 box-sizing: border-box;
 background: url(../images/snoopy/redbackground.jpg);
 background-repeat:no-repeat;
 background-position:center;
 background-size: 80%;
}


.contact{
  position: absolute;
  width: 21px;
  border-radius: 2px;
  margin-left: 3px;
}

.wchat img{width: 17%; border-radius: 3px;}
